:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


body {
  font-family: 'Sora', sans-serif;
  background-color: #f8f9fa;
  font-size: 14px;
  margin: 10px 40px;
  padding: 0;
}

form {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

h2 {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="time"],
input[type="checkbox"],
input[type="date"],
select {
  width: calc(100% - 12px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  font-size: 12px;
}

button {
  grid-column: span 1;
  background-color: #92ba43;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.alert{
  background-color: #d44949;
}
.alert:hover{
  background-color: #d44949;
}

button:hover {
  background-color: #92ba43;
}

table {
  border-collapse: collapse;
  margin: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.navbar .logo {
  height: 50px; 
  margin-left: 20px;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  text-align: center;
  padding-top: 20%;
}

.table-irrigation-buttons{
  display: flex;
  gap: 0.75rem;
}

.edit-btn, .edit-btn:hover {
  background: #ebac0d;
}

.delete-btn, .delete-btn:hover {
  background: #d51111;
}

.irrigation-table {
  width: calc(100% - 40px);
}

.total-items {
  color: rgb(137, 137, 137);
}

.table-irrigation-buttons button.hidden {
  visibility: hidden;
}

.pagination-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  width: calc(100% - 40px);
}

.arrow-container {
  display: flex;
  gap: 0.5rem;
}

.arrow-button {
  background: rgb(231, 231, 231);
  border-radius: 3px;
  padding: 0.1rem 0.5rem;
}

.modal-container {
  align-items: center;
  background: rgba(0, 0, 0, 0.176);
  display: flex;
  height: 100vh;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}

.form-modal {
  background-color: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 25rem;
}

.modal-form-title-container {
  align-items: center;
  display:flex;
  justify-content: space-between;
}

.modal-form-title-container h3 {
  margin: 0px;
}

.form-buttons-container {
  margin-top: .75rem;
  display: flex;
  gap: .75rem;
}